body {
  font-family: "Akaya Kanadaka", cursive;
  max-width: 600px;
}
.city {
  font-size: 20px;
  position: relative;
}
.mb-3 {
  top: 10px;
  left: -10px;
}
.btn-group {
  border-radius: 20%;
  position: relative;
  top: 10px;
}

.btn-warning {
  box-shadow: 2px 2px 7px 1px #f5a741;
  left: 200px;
  top: -38px;
  width: 50%;
  height: 50%;
  display: block;
  text-align: center;
}
.btn-danger {
  box-shadow: 2px 2px 7px 1px red;
  left: 50px;
  width: 50%;
  height: 40%;
  display: block;
  text-align: center;
}
.current-city {
  font-size: 29px;
  position: relative;
  top: 5px;
  left: -2px;
}
h1,
.date-time,
.hourly-forecast,
ul,
#weather-description,
footer {
  color: #f5a741;
}
.specifics,
.current-temp,
.five-day,
.temp,
.day,
.date,
.max-temp,
.min-temp,
.github-link {
  color: #eb7b55;
}
.date-time,
.specifics,
#weather-description {
  font-size: 20px;
}
img {
  position: relative;
  max-height: 30%;
  text-align: center;
  display: inline;
  left: 20px;
  top: -20px;
  padding: 0;
  margin-bottom: 0;
}
.current-temp {
  text-align: center;
  position: relative;
  font-size: 32px;
  left: -15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.units,
.units-bar {
  font-size: 15px;
  position: relative;
  top: -10px;
}
.max-min {
  position: relative;
  top: -25px;
  left: 15px;
  text-align: center;
  font-size: 20px;
}
.hourly-forecast {
  position: relative;
  left: -15px;
  top: 5px;
  font-size: 25px;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.time {
  position: relative;
  top: 5px;
  left: -15px;
  font-size: 22px;
}
.temp {
  position: relative;
  top: 5px;
  left: 15px;
  font-size: 20px;
}
.emoji {
  position: relative;
  top: 5px;
  left: 40px;
}
.five-day {
  font-size: 30px;
}
.max-temp {
  font-weight: bolder;
}
.icon {
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.day,
.date,
.min-temp,
.max-temp {
  text-align: center;
  font-size: 18px;
}
footer {
  text-align: center;
}
.border {
  border-radius: 5%;
}
