body {
  font-family: "Akaya Kanadaka", cursive;
  max-width: 600px;
  color: #2058ff;
}
.city {
  font-size: 20px;
  position: relative;
}
.mb-3 {
  top: 10px;
  left: -10px;
}
.btn-group {
  border-radius: 20%;
  position: relative;
  top: 10px;
}

.btn-primary {
  left: 200px;
  top: -38px;
  width: 50%;
  height: 50%;
  display: block;
  text-align: center;
  color: #fff;
}
.btn-info {
  left: 50px;
  width: 50%;
  height: 40%;
  display: block;
  text-align: center;
  color: #fff;
}
.current-city {
  font-size: 30px;
  position: relative;
  top: 5px;
  left: -2px;
  color: #ea6e4b;
}

.specifics,
.temp,
.day,
.date,
.max-min,
.github-link {
  opacity: 0.5;
}
.date-time,
.specifics,
#weather-description {
  font-size: 20px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

#current-temp-icon {
  position: relative;
  max-height: 30%;
  text-align: center;
  display: inline;
  left: 35px;
  top: -20px;
  padding: 0;
  margin-top: 10px;
}
.current-temp {
  text-align: center;
  position: relative;
  font-size: 40px;
  left: -10px;
  margin-top: 10px;
}
.units {
  font-size: 25px;
  position: relative;
  top: -10px;
}

.max-min {
  position: relative;
  top: -25px;
  left: -10px;
  margin-top: 9px;
  text-align: center;
  font-size: 20px;
}
.hourly-forecast-title {
  position: relative;
  left: -5px;
  top: 5px;
  font-size: 25px;
  padding: 0;
  color: #ea6e4b;
}
.time {
  position: relative;
  top: 5px;
  line-height: 35px;
  left: -5px;
  font-size: 22px;
}
.temp {
  position: relative;
  top: 5px;
  left: 25px;
  font-size: 20px;
}
.hourly-icon {
  position: relative;
  top: 5px;
  left: 45px;
  padding: 0;
  margin: 0;
}

.max-temp {
  font-weight: bolder;
}
.icon {
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.day,
.date,
.min-temp,
.max-temp {
  text-align: center;
  font-size: 18px;
}

.weather-forecast {
  margin-top: -30px;
  margin-bottom: 10px;
}

.weather-forecast-date {
  color: #ea6e4b;
  font-size: 24px;
  opacity: 75%;
}

.weather-forecast-temperatures {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

#weekly-forecast {
  text-align: center;
}

footer {
  text-align: center;
}
.border {
  border-radius: 5%;
}
