body {
  font-family: "Akaya Kanadaka", cursive;
  max-width: 600px;
  color: #2058ff;
}
.city {
  font-size: 20px;
  position: relative;
}
.mb-3 {
  top: 10px;
  left: -10px;
}
.btn-group {
  border-radius: 20%;
  position: relative;
  top: 10px;
}

.btn-primary {
  left: 200px;
  top: -38px;
  width: 50%;
  height: 50%;
  display: block;
  text-align: center;
  color: #fff;
}
.btn-info {
  left: 50px;
  width: 50%;
  height: 40%;
  display: block;
  text-align: center;
  color: #fff;
}
.current-city {
  font-size: 29px;
  position: relative;
  top: 5px;
  left: -2px;
}

.specifics,
.current-temp,
.five-day,
.temp,
.day,
.date,
.max-temp,
.min-temp,
.github-link {
  opacity: 0.5;
}
.date-time,
.specifics,
#weather-description {
  font-size: 20px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

#current-temp-icon {
  position: relative;
  max-height: 30%;
  text-align: center;
  display: inline;
  left: 20px;
  top: -20px;
  padding: 0;
  margin-top: 10px;
}
.current-temp {
  text-align: center;
  position: relative;
  font-size: 32px;
  left: -15px;
  margin-top: 10px;
}
.units,
.units-bar {
  font-size: 15px;
  position: relative;
  top: -10px;
}
a,
#celsius-link,
#fahrenheit-link {
  cursor: default;
  text-decoration: underline;
  color: #ea6e4b;
  opacity: 100%;
}
#celsius-link:hover,
#fahrenheit-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #2058ff;
}

a:hover,
#celsius-link.active,
#fahrenheit-link.active {
  text-decoration: none;
  cursor: pointer;
  color: #2058ff;
}
.max-min {
  position: relative;
  top: -25px;
  left: 15px;
  text-align: center;
  font-size: 20px;
}
.hourly-forecast {
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 25px;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.time {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 22px;
}
.temp {
  position: relative;
  top: 5px;
  left: 30px;
  font-size: 20px;
}
.hourly-icon {
  position: relative;
  top: 5px;
  left: 50px;
  padding: 0;
  margin: 0;
}

.max-temp {
  font-weight: bolder;
}
.icon {
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.day,
.date,
.min-temp,
.max-temp {
  text-align: center;
  font-size: 18px;
}

.weather-forecast {
  margin-top: -30px;
  margin-bottom: 10px;
}

.weather-forecast-date {
  font-size: 24px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

#tomorrow-forecast {
  text-align: center;
}

footer {
  text-align: center;
}
.border {
  border-radius: 5%;
}
